
<div class="main-body">
	<h2 class="centered">ABOUT US</h2>
	<div class="underline"></div>
	<p>The UQ Beer and Rum Society has undergone some changes this year! We have an all new executive keen to give the society a massive resurgence with all new events, merchandise, and special member deals. Come see us at market day (24th of February) and see what we have to offer!
	</p>
	<div class="profile-container">
		<div class="profile">			
			<%= image_tag "profiles/victor.jpg", alt: "Victor Hasa", class: "profile-pic" %><br/>
			<span class="name">Victor <span class="thrive">Thrive</span></span><br/>
			President<br/>
			Favourite <span class="thrive">Thrive</span>: <span class="thrive">Thrive</span><br/>
		</div>
		<div class="profile">
			<%= image_tag "profiles/dan.jpg", alt: "Dan Mars", class: "profile-pic" %><br/>
			<span class="name">Dan Mars</span><br/>
			Vice President<br/>
			Favourite Drink: Tequila<br/>
		</div>	
		<div class="profile">			
			<%= image_tag "profiles/hugo.jpg", alt: "Hugo Kawamata", class: "profile-pic" %><br/>
			<span class="name">Hugo Kawamata</span><br/>
			Website Design and Management<br/>
			Favourite Drink: Lots of vodka<br/>
		</div>
	<!--<div class="profile">
			<%=image_tag "profiles/name.jpg", alt: "Name", class: "profile-pic" %><br/>
			<span class="name">Name</span><br/>
		</div>-->
		<div class="profile">
			<%=image_tag "profiles/jim.jpg", alt: "Jim Lord", class: "profile-pic" %><br/>
			<span class="name">Jim Lord</span><br/>
			Treasurer<br/>
			Favourite Drink: Kraken<br/>
		</div>

		<div class="profile">
			<%=image_tag "profiles/hamish.jpg", alt: "Hamish Mulcahy", class: "profile-pic" %><br/>
			<span class="name">Hamish Mulcahy</span><br/>
			Secretary<br/>
			Favourite Drink: Carlton Draught<br/>
		</div>

		<div class="profile">
			<%=image_tag "profiles/kyle.jpg", alt: "Kyle McGrath", class: "profile-pic" %><br/>
			<span class="name">Kyle McGrath</span><br/>
			Sponsorship: Merch<br/>
			Favourite Drink: XXXX<br/>
		</div>


		<div class="profile">
			<%= image_tag "profiles/brodie.jpg", alt: "Brodie Nicholas", class: "profile-pic" %><br/>
			<span class="name">Brodie Nicholas</span><br/>
			Sponsorship: Events<br/>
			Favourite Drink: Rum (what a normie)<br/>
		</div>

		<div class="profile">
			<%=image_tag "profiles/alli.jpg", alt: "Alli Paxton-Hall", class: "profile-pic" %><br/>
			<span class="name">Alli Paxton-Hall</span><br/>
			Events Manager<br/>
			Favourite Drink: Fruity Lexia<br/>
		</div>

		<div class="profile">
			<%=image_tag "profiles/mitch.jpg", alt: "Mitch Knight", class: "profile-pic" %><br/>
			<span class="name">Mitch Knight</span><br/>
			Events Manager<br/>
			Favourite Drink: Protein Shakes (Chocolate)<br/>
		</div>

		<div class="profile">
			<%=image_tag "profiles/astrella.jpg", alt: "Astrella Rosano", class: "profile-pic" %><br/>
			<span class="name">Astrella Rosano</span><br/>
			Promotions Officer<br/>
			Favourite Drink: Orange Juice<br/>
		</div>

		<div class="profile">
			<%= image_tag "profiles/michael.jpg", alt: "Michael Moore", class: "profile-pic" %><br/>
			<span class="name">Michael Moore</span><br/>
			Assistant Web Guy<br/>
			Favourite Drink: Astrella Rosano<br/>
		</div>	

		<div class="profile">
			<%=image_tag "profiles/samantha.jpg", alt: "Samantha Jenkins", class: "profile-pic" %><br/>
			<span class="name">Samantha Jenkins</span><br/>
			Banter Convenor<br/>
			Favourite Drink: Shandy (but only if it's with the boys)
		</div>

		<div class="profile">
			<%=image_tag "profiles/gabe.jpg", alt: "Gabe Long", class: "profile-pic" %><br/>
			<span class="name">Gabe Long</span><br/>
			Subcommittee Member<br/>
			Favourite Drink: Chocolate Cruiser, Low Carb
		</div>

		<div class="profile">
			<%=image_tag "profiles/johnton.jpg", alt: "Johnton Oost", class: "profile-pic" %><br/>
			<span class="name">Johnton Oost</span><br/>
			Subcommittee Member<br/>
			Favourite Drink: Sailor Jerry<br/>
		</div>

		<div class="profile">
			<%=image_tag "profiles/charles.jpg", alt: "Charles Halliday", class: "profile-pic" %><br/>
			<span class="name">Charles Halliday</span><br/>
			Subcommittee Member<br/>
			Favourite Drink: Codeine Cough Syrup<br/>
		</div>	

		<div class="profile">
			<%=image_tag "profiles/who.jpg", alt: "This Guy?", class: "profile-pic" %><br/>
			<span class="name">Who is this guy?</span><br/>
			Does anyone know what he does around here?<br/>
			Favourite Drink: Malibae<br/>
		</div>


	</div>
</div>
