
<div class="main-body">
	<h3>WELCOME TO THE UQ BEER AND RUM SOCIETY</h3>
	<div class="underline"></div>
	<p>Founded in 2013 the UQ Beer and Rum Society (BARS) has enjoyed a successful few years in operation. After a short hiatus in 2015 the club is preparing to launch the 2016 BARS program with the new executive. The club is currently seeking sponsorship for 2016 and welcomes any offers in exchange for advertising and product placement. The BARS Club card will launch at Market Day in February 2016.   Stay tuned for more details!</p>
	<br />

	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>
		<!--Ideal image size is 949x420, ensure imgs are same size-->
		<div id="carousel_container" class="carousel-inner" role="listbox">
			<div class="item image0 active">
				<%= image_tag "carousel0.png", alt: "Carousel Image 1", class: "carousel_image" %>
			</div>
			<div class="item image1">
				<%= image_tag "carousel1.png", alt: "Carousel Image 2", class: "carousel_image" %>
			</div>
			<div class="item image2">
				<%= image_tag "carousel2.jpg", alt: "Carousel Image 3", class: "carousel_image" %>
			</div>
			<div class="item image3">
				<%= image_tag "carousel3.jpg", alt: "Carousel Image 4", class: "carousel_image" %>
			</div>
		</div>

		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<h3>NEW TO UQ BARS 2016</h3>
	<div class="underline"></div>
	<div class="container home_thumbs">
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<%= link_to image_tag("iconexec.jpg", alt: "Executive icon"), about_path %>
					<div class="caption">
						<h4 class="centered">BRAND NEW EXECUTIVE</h4>
						<p class="centered">A brand new team of dedicated students has decided to reinvigorate the BARS! Expect great things!</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<%= link_to image_tag("iconevents.jpg", alt: "Events icon"), events_path %>
					<div class="caption">
						<h4 class="centered">TONS OF MINI-EVENTS</h4>
						<p class="centered">Enjoy Beer and Rum nights at UQ every week as well as some chill times at the Toowong bowls club.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<%= link_to image_tag("iconcard.jpg", alt: "Card icon"), card_path %>
					<div class="caption">
						<h4 class="centered">SWEET DEALS CARD</h4>
						<p class="centered">Our new team is working with lots of locations to bring an L-card like deals card to all BARS members!</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Contains some stuff I'm not sure about

	<h3>EVENTS</h3>
	<div class="underline"></div>
	<p>Don’t miss out on the hottest events hosted by UQBARS! Check out our social calendar full of lively events and make sure to get around it. With big events such as a launch party and pub crawls, you will need to get in quick and book your tickets online before they run out!</p>-->


	<h3>JOIN NOW!</h3>
	<div class="underline"></div>
	<p>Can’t wait to be a part of UQ BARS? Click <%= link_to "here", join_path %> to sign up and get access to a UQBARS card and all the perks that come with it! What are you waiting for?</p>

</div>
