
<div class="main-body">
	<h2 class="centered">MAJOR SPONSORS</h2>
	<div class="underline"></div>

	<p class="sponsor-icon-container">

		<a href="http://www.batterystationbrisbane.com">
			<%= image_tag "sponsors/batterystation.png", alt: "Battery Station", class: "sponsorimage" %>
		</a>

		<a href="http://www.rehotel.com.au/">
			<%= image_tag "sponsors/re.png", alt: "The Royal Exchange", class: "sponsorimage" %>
		</a>

		<a href="http://www.stockexchangehotel.com.au/">
			<%= image_tag "sponsors/stockies.png", alt: "Stock Exchange Hotel", class: "sponsorimage" %>
		</a>

		<a href="http://www.thevictory.com.au/">
			<%= image_tag "sponsors/thevic.png", alt: "The Victory Hotel", class: "sponsorimage" %>
		</a>
	</p>

	<h2 class="centered">SPONSORS</h2>
	<div class="underline"></div>

	<p class="sponsor-icon-container">

		<a href="http://www.uqu.com.au">
			<%= image_tag "sponsors/uqu.png", alt: "UQ Union", class: "sponsorimage" %>
		</a>

		<a href="http://www.archivebeerboutique.com.au/">
			<%= image_tag "sponsors/archive.png", alt: "Archive Beer Boutique", class: "sponsorimage" %>
		</a>

		<a href="http://birdees.com.au/">
			<%= image_tag "sponsors/birdees.png", alt: "Birdees", class: "sponsorimage" %>
		</a>

		<a href="http://www.uqu.com.au/outlet/15/darwins">
			<%= image_tag "sponsors/darwins.jpg", alt: "Darwin's Cafe", class: "sponsorimage" %>
		</a>

		<a href="https://www.facebook.com/empirebrisbane/">
			<%= image_tag "sponsors/empire.png", alt: "Empire", class: "sponsorimage" %>
		</a>

		<a href="http://www.theflyingcock.com.au/">
			<%= image_tag "sponsors/flyingcock.png", alt: "The Flying Cock", class: "sponsorimage" %>
		</a>

		<a href="http://www.fringebar.com.au/">
			<%= image_tag "sponsors/fringe.png", alt: "Fringe Bar", class: "sponsorimage" %>
		</a>

		<a href="http://www.kerbside.com.au/">
			<%= image_tag "sponsors/kerbside.png", alt: "Kerbside", class: "sponsorimage" %>
		</a>

		<a href="http://www.groovetrain.com.au/">
			<%= image_tag "sponsors/groovetrain.png", alt: "The Groove Train", class: "sponsorimage" %>
		</a>

		<a href="http://www.hotgossipnightclub.com">
			<%= image_tag "sponsors/hotgossip.png", alt: "Hot Gossip", class: "sponsorimage" %>
		</a>

		<a href="http://www.ohhello.com.au">
			<%= image_tag "sponsors/ohhello.png", alt: "Oh Hello!", class: "sponsorimage" %>
		</a>

		<a href="http://www.pancakemanor.com.au/">
			<%= image_tag "sponsors/pancake.png", alt: "Pancake Manor", class: "sponsorimage" %>
		</a>

		<a href="http://www.uqu.com.au/outlet/16/physiol">
			<%= image_tag "sponsors/physiol.png", alt: "Physiol", class: "sponsorimage" %>
		</a>

		<a href="http://www.pizzacaffe.com.au/">
			<%= image_tag "sponsors/pizzacaffe.png", alt: "Pizza Caffe", class: "sponsorimage" %>
		</a>

		<a href="http://www.prohibitionbrisbane.com.au/">
			<%= image_tag "sponsors/prohibition.png", alt: "Prohibition", class: "sponsorimage" %>
		</a>

		<a href="http://www.redroombar.com.au/">
			<%= image_tag "sponsors/redroom.jpg", alt: "The Red Room", class: "sponsorimage" %>
		</a>
		
		<a href="http://riverlife.com.au">
			<%= image_tag "sponsors/brisbaneriverlife.png", alt: "Riverlife", class: "sponsorimage" %>
		</a>

		<a href="http://www.stonescornerhotel.com.au/">
			<%= image_tag "sponsors/stonescorner.png", alt: "Stones Corner Hotel", class: "sponsorimage" %>
		</a>

		<a href="https://www.facebook.com/ThaiNakonlanna/">
			<%= image_tag "sponsors/thai.png", alt: "Thai Nakonlanna", class: "sponsorimage" %>
		</a>

		<a href="http://toowongbowlsclub.com.au/">
			<%= image_tag "sponsors/toowongbowls.jpg", alt: "Toowong Bowls Club", class: "sponsorimage" %>
		</a>
		
		<a href="http://woollymammoth.com.au">
			<%= image_tag "sponsors/wooly.png", alt: "Woolly Mammoth", class: "sponsorimage" %>
		</a>

	</p>
	<h2 class="centered">MESSAGE TO SPONSORS</h2>
	<div class="underline"></div>

	<p>
	<div class="docdownload">If you'd like to sponsor us, please send us an email at info@uqbars.com</div></p>

	<p>190 UQU Clubs and Societies sign up thousands of students to clubs in the Great Court twice a year.  With over 40,000 STUDENTS enrolled at UQ, Market Day is an incredible opportunity for sponsors to showcase their brands and promote their products.	UQU clubs run heaps of social gatherings all year round including BBQs, Club Balls, Dinners, Movie nights, Pizza nights, Industry nights and Red Room Sessions.  UQ BARS plans to run events throughout 2016 and believes this is the perfect opportunity for sponsors to promote their businesses to the thousands of new and current students. </p>

	<p>We are welcoming sponsorship support for 2016. In exchange for funding we are prepared to commit to the promotion of your brands through social media, at events, on the UQ BARS Card and on merchandise. Our UQ BARS Facebook account has over 1000 LIKES and a reach of over 2500. We predict these statistics will increase in 2016.   We would be happy to post about products and events on the page.</p>

	</p>


</div>
