<div class="main-body">
	<h2 class="centered">JOIN THE CLUB</h2>
	<div class="underline"></div>
	<div class="sign_up_form">
		<%= form_for(@user) do |f| %>
			<%= render "shared/error_messages" %>
			<%= f.label :name %>
			<%= f.text_field :name, style: "margin-left: 25%; border-radius: 2px; margin-top: 10px; margin-bottom: 40px;" %>

			<%= f.label :email %>
			<%= f.email_field :email, style: "margin-left: 25%; border-radius: 2px; margin-top: 10px; margin-bottom: 40px;" %>

			<%= f.label :sid, "Student ID (8 digits, no 's')" %>
			<%= f.text_field :sid, style: "margin-left: 25%; border-radius: 2px; margin-top: 10px; margin-bottom: 40px;" %>

			<%= f.hidden_field :paid, value: false %>

			<%= f.submit "Become a Member!", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
