<div class="main-body">
	<h2 class="centered">JOIN THE CLUB</h2>
	<div class="underline"></div>
	<p>Fill out the form below to join UQBARS now! Membership costs $5 but will get you access to tons of amazing deals at bars and clubs. You don't even need to pay now, just complete the form and pay at the next event you attend to get your official membership.</p>
	<div class="sign_up_form">
	<!--
		<%= form_for(@user) do |f| %>
			<%= render "shared/error_messages" %>
			<%= f.label :name, "Full Name", style: "
				width: 50%; 
				margin-left: 25%; 
				margin-right: 25%;" %>
			<%= f.text_field :name, style: "
				margin-left: 25%; 
				border-radius: 2px; 
				margin-top: 10px; 
				margin-bottom: 40px; 
				width: 50%; 
				margin-right: 25%;
				color: #222222;" %>

			<%= f.label :email, style: "
				width: 50%; 
				margin-left: 25%; 
				margin-right: 25%;" %>
			<%= f.email_field :email, style: "
				margin-left: 25%; 
				border-radius: 2px; 
				margin-top: 10px; 
				margin-bottom: 40px; 
				width: 50%; 
				margin-right: 25%;
				color: #222222;" %>

			<%= f.label :sid, "Student ID (8 digits, no 's')", style: "
				width: 50%; 
				margin-left: 25%; 
				margin-right: 25%;" %>
			<%= f.text_field :sid, style: "
				margin-left: 25%; 
				border-radius: 2px; 
				margin-top: 10px; 
				margin-bottom: 40px; 
				width: 50%; 
				margin-right: 25%;
				color: #222222;" %>

			<%= f.hidden_field :paid, value: false %>

			<%= f.submit "Become a Member!", class: "btn btn-primary", style: "
				background-color: #FF7F00; 
				border-color: #984c00;
				width: 50%;
				margin-left: 25%;
				margin-right: 25%;" %>
		<% end %>
	-->
		<iframe src="https://docs.google.com/forms/d/1H6BjhfkPkJ6WMFwKN7kX88ZAxZ9I4uoeBnLUHcz4mLU/viewform?embedded=true" width="100%" height="1000px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	</div>
</div>
